html {
    background-image: url('../../images/main/1616587737_28-p-fon-doski-derevo-37.jpg');
}

body {
    margin: 0;

}

header {
    height: 300px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;

}

main {
    flex-grow: 1;

    font-size: 20px;
}

footer {
    height: 75px;
    flex-shrink: 0;
    text-align: center;
    background-color: #7d7d7d;
}

h2 {
    display: flex;
    justify-content: center;
}
h2 img {
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: 120px;
    display: block;
    margin: 0 auto;
  }
.container {
    max-width: 1500px;
    background-color: #977556;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

#about-us {
    margin-top: 20px;
}

#about-us h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

#about-us p {
    line-height: 1.6;
    margin-bottom: 20px;
}

#about-us h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

#about-us ul {
    list-style: none;
    padding: 0;
}

#about-us ul li {
    margin-bottom: 10px;
    font-size: 20px;

}

#about-us ul li strong {
    font-weight: bold;
}


.games {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.game-card {
    background-color: #b1b1b1;
    border: 3px solid #000000;
    border-radius: 10px;
    padding: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.game-card strong {
    font-size: 24px;
    text-transform: uppercase;
}

.game-card img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 3px solid #000000;
    border-radius: 10px;
    margin-bottom: 10px;
}

.game-card p {
    background-color: #f9f9f9;
    line-height: 1.5;
    border: 2px solid #000000;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .game-card {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .game-card {
        width: 100%;
    }
}

.container details {
    margin-bottom: 10px;
    border-bottom: 1px solid #000000;
    transition: border-color 0.3s ease;
}

.container details:last-child {
    border-bottom: none;

}

.container details summary {
    font-weight: bold;

    cursor: pointer;

    transition: color 0.3s ease;
}

.container details p {
    margin-left: 20px;
}


.container details[open] summary::after {
    content: "\25B2";
}

.container details:hover {
    border-color: #4CAF50;
}



.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.contact-form textarea {
    resize: none;
}

.contact-form button {
    width: 25%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.contact-form button:hover {
    background-color: #555;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media a {
    margin: 0 10px;
    text-decoration: none;
}

.social-media img {
    width: 30px;
    height: auto;
}